@inherits LayoutComponentBase


<!-- ===============================================-->
<!--Main Content-->
<!-- ===============================================-->
<main class="main" id="top">
    <NavMenu />
    <TopBarMenu/>

    <div class="content">
        @Body
        <footer class="footer position-absolute">
            <div class="row g-0 justify-content-between align-items-center h-100">
                <div class="col-12 col-sm-auto text-center">
                    <p class="mb-0 mt-2 mt-sm-0 text-body">Thank you for creating with Phoenix<span class="d-none d-sm-inline-block"></span><span class="d-none d-sm-inline-block mx-1">|</span><br class="d-sm-none">2024 ©<a class="mx-1" href="https://themewagon.com/">Themewagon</a></p>
                </div>
                <div class="col-12 col-sm-auto text-center">
                    <p class="mb-0 text-body-tertiary text-opacity-85">v1.18.0</p>
                </div>
            </div>
        </footer>
    </div>
    
</main>
<!-- ===============================================-->
<!--End of Main Content-->
<!-- ===============================================-->

@code{
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("initializeNavbar");
        }
    }
}
